*{
	margin:0;
	padding:0;
}
body{
	width:100%;
	min-height:100%;
	text-align:center;
	background:#666 url("../../Image/Index/earth.jpg") no-repeat;
	background-size:cover;
	background-position:center top;
}
a{
	text-decoration:none;
	color:#fff;
}
li{
	list-style-type:none;
}
#myBody{
	max-width:100%;
	max-height:100%;
}
#myBody > div#nav{
	width:100%;
	height:50px;
	padding:5px 0;
	color:#fff;
	position:absolute;
	top:0;
	left:0;
}
#myBody > div#nav > div.logo > a > img{
	width:40px;
	float:left;
	margin-left:30px;
	margin-top:5px;
}
#myBody > div#nav > div.logo > a > p{
	line-height:50px;
	float:left;
	margin-left:20px;
	font-size:25px;
}
#myBody > div#nav > ul.textarea{
	width:400px;
	height:150px;
	float:right;
	color:#fff;
	background: url("../../Image/index/brand.png") no-repeat;
	background-size:100% 100%;
}
#myBody > div#nav > ul.textarea > li{
	text-shadow:2px 2px 1px #000;
	display:inline-block;
	margin-top:80px;
}
#myBody > div#nav > ul.textarea > li > a{
	color:#fff;
	font-size:14px;
}
#myBody > div#nav > ul.textarea > li > a:hover{
	text-decoration:underline;
}
#myBody > div#nav >ul.textarea > li > a:hover{
	text-decoration:underline;
}

#myBody > div#includeDiv{
	color:#fff;
	clear:both;
	border:1px solid transparent;
}
#myBody > div#includeDiv > div.text{
	width:100%;
	margin:0 auto;
}
#myBody > div#includeDiv > div.text > img.img{
	width:80%;
	max-height:282px;
	margin:8% 0 5%;
	max-width:850px;
}
#myBody > div#includeDiv > div.text > div.back{
	position:relative;
}
#myBody > div#includeDiv > div.text > div.back > hr{
	width:100%;
	margin:0 auto;
	border:none;
	border-bottom:1px solid #444066;
	box-shadow:0 1px 0 #ccc;
}
#myBody > div#includeDiv > div.text > div.back > p{
	width:100%;
	max-height:100%;
	height:160px;
	opacity:0.4;
	background-color:#444066;
}
#myBody > div#includeDiv > div.text > div.back > img.zx{
	width:30%;
	max-height:135px;
	position:absolute;
	top:15%;
	left:33%;
}

#myBody > div#includeDiv > div.text > a.button{
	color:#fff;
	font-size:25px;
	display:inline-block;
	width:320px;
	line-height:80px;
	background-color:#000;
	font-size:35px;
	border-right:none;
	box-shadow:
		0 0 5px #fff,
		0 0 30px #144faf,
		0 0 90px #fff
	;
	margin:10% auto;
}
#myBody > div#includeDiv > div.text > a.button:hover{
	box-shadow:
		0 0 5px #fff,
		0 0 30px #144faf,
		0 0 50px #fff
	;
}
#myBody > div#includeDiv > div.text > a.button:active{
	box-shadow:0 0 5px #fff;
}
#myBody > div.myCopy{
	width:100%;
	height:60px;
	padding-top:20px;
	text-align:center;
	background-color:#3c3b3b;
	position:absolute;
	button
}
#myBody > div.myCopy > p{
	height:30px;
	margin:0 auto;
	text-align:center;
	font-size:14px;
	color:#aaa;
}



