@CHARSET "UTF-8";
body{
    font-size: 16px
}
.text-body{
    background-color: #FFFEE9;
    box-shadow:-1px -1px 6px #222 inset;
}
.text-body p{
    text-indent: 2em;
    line-height:1.8em;
    margin-bottom: 15px;
}
.header-block{
    font-size: 18px
}
.header-block li a{
    text-decoration: none;
    font-size:16px;
    margin-bottom: 2px;
}
.text-body{
    background-color: #fff;
    margin-top:70px;
}
article{
    padding-bottom: 50px;
}
section{
    padding-bottom:5px;
}
section:target{
    padding-top:60px;
}
