@CHARSET "UTF-8";
.copyright{
    text-align: center;
    padding:20px 0 5px 0;
    margin:50px 0 -5px 0;
    background-color: #fff;
    color:#666;
    font-size: 0.8em;
}
.copyright p{
    margin-bottom:0;
}

.figure-ul{}
.figure-ul ul{
    padding-left:1em;
}
.figure-ul img{
    margin:0 0 5px 1.2em;
}
.input-group-verifycode{
    padding:0;
}
