@CHARSET "UTF-8";
.copyright{
    text-align: center;
    padding:20px 0 5px 0;
    margin:50px 0 -5px 0;
    background-color: #fff;
    color:#666;
    font-size: 0.8em;
}
.copyright p{
    margin-bottom:0;
}
.no-float{
    float:none;
}
.no-padding{
    padding:0;
}
/*! 按钮组*/
.form-group-towbtn *{
    width:48%;
    margin:0 !important;
}
.form-group-towbtn-3-1 *:first-child{
    width:64%;
    margin:0 !important;
}
.form-group-towbtn-3-1 *:last-child{
    width:32%;
    margin:0 !important;
}
.form-group-towbtn-1-3 *:first-child{
    width:31%;
    margin:0 !important;
}
.form-group-towbtn-1-3 *:last-child{
    width:64%;
    margin:0 !important;
}

.figure-ul{}
.figure-ul ul{
    padding-left:1em;
}
.figure-ul img{
    margin:0 0 5px 1.2em;
}
.input-group-verifycode{
    padding:0;
}

.navbar-brand-nutjs_ico{
    padding: 14px 7px 15px 15px;
}
.navbar-brand-nutjs_text{
    font-size: 20px;
    padding:18px 15px 15px 15px;
}
